* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.calculation{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.calculator_btn{
    width: 30px;
    height: 30px;
}


.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}

p{
    font-size: 25px;
}

.puzzle {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.hidden .answer {
    display: none;
}
